[2019-06-13 10:55] vkyeswa opened #1 "input type"
Hello, could you have an input type say `{type:text}` or `{type:number}` added to the configuration because if a code is going to be numeric it frustrates when changing input on the keyboard to a numeric type for every entry. (this is on mobile)

[2019-06-14 06:23] code-farmz commented on #1
thanks for pointing it out just added new config property allowNumbersOnly for number only input in latest version

[2019-06-14 06:23] #1 closed

[2019-07-12 12:16] sugam-techuz opened #3 "Backspace Not working in mobile devices"
In mobile devices when we try to delete inserted otp code, its not allowed to delete previous digit. Its not working like desktop browser.

[2019-07-12 12:19] niravgoswami12 commented on #3
Hi,
Also facing same issue

[2019-07-12 12:28] code-farmz commented on #3
@sugam-techuz  can you please post the exact steps to reproduce what I tried is

1.entered the otp
2.press delete button it was working as aspected

or it may be device specific

[2019-07-12 12:59] niravgoswami12 commented on #3
![WhatsAppVideo2019-07-12at62](https://user-images.githubusercontent.com/13786391/61129836-ec890180-a4d2-11e9-897c-9483ad8bf8e0.gif)
Please check

[2019-07-12 13:20] sugam-techuz commented on #3
Yes, i have same thing happen in mobile.
when we click on backspace it's not delete previous box value.

[2019-07-12 14:00] code-farmz commented on #3
@niravgoswami12  @sugam-techuz  seems like device specific issue if you specify the device here

[2019-07-15 05:33] sugam-techuz commented on #3
@code-farmz
Divice : Redmi Note 5 pro, Android 9.

[2019-07-15 05:56] code-farmz commented on #3
Hi thanks for the update I'll check it out and let you know if I am able to reproduce this one

[2019-07-17 08:50] idan003 opened #4 "option to get the final number?"
Hi,

its possible to get the final number and then in the func i will verified the number?
now is every key i click is give me the number

[2019-07-17 11:49] code-farmz commented on #4
You simply check the output length and can execute your validation function once it reaches the length equal to the number of inputs.
For example, you have 4 inputs the in `onInputChange` handler you can check the length of output if it equals to 4 then execute your validation function.

[2019-07-17 11:49] #4 closed

[2019-07-19 12:11] code-farmz commented on #3
Tested on redmi note 5,6,7 and seems to be working fine with new version so closing it for now

[2019-07-19 12:11] #3 closed

[2019-07-20 07:22] somikdatta opened #5 "ERROR in node_modules/ng-otp-input/ng-otp-input.d.ts(5,43): error TS2307: Cannot find module './lib/components/ng-otp-input/ng-otp-input.component'."
In `ng-otp-input.d.ts`,

`export { NgOtpInputComponent as ɵa } from './lib/components/ng-otp-input/ng-otp-input.component';`

throws error. There is no folder `components` inside `lib` folder

[2019-07-20 07:30] code-farmz commented on #5
Hi can you please elaborate the steps to reproduce or may a stackblitz with the problem may help to better understand the problem

[2019-07-20 07:37] somikdatta commented on #5
1. installed dependency using `npm install --save ng-otp-input`
2. Imported `NgOtpInputModule` in my `app.module.ts` file and imported it
3. In my HTML template, I used `<ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:5}"></ng-otp-input>`
4. Executed `ng serve`

`ERROR in node_modules/ng-otp-input/ng-otp-input.d.ts(5,43): error TS2307: Cannot find module './lib/components/n

[2019-07-20 07:41] code-farmz commented on #5
Ok thanks I will check it out by creating new project and will fix the issue

[2019-07-20 08:05] code-farmz commented on #5
Hi this is fixed now in latest version i.e 1.4.1

[2019-07-20 08:05] #5 closed

[2019-07-23 09:53] iiitvamsi opened #6 "on "0" entering from key board on the right side it is not going to next input field"
on "0" entering from key board on the right side it is not going to next input field

[2019-07-24 03:55] code-farmz commented on #6
Hi, this is fixed and working fine in v 1.4.2

[2019-07-24 03:55] #6 closed

[2019-09-23 06:22] honeykpc opened #8 "AutoFocus"
Hi,
I recently came across this plugin and found it really useful.
However, it would be awesome to have an 'autofocus' feature on the 1st Input when we accessing the app from Safari (iOS).
For now, I have to manually target the DOM elements to find the 1st input field to show it focused.

Is there any better way to do that?

[2019-09-24 05:01] code-farmz commented on #8
@honeykpc will look into this issue and update here by eow

[2019-09-24 05:02] honeykpc commented on #8
@code-farmz , great! Thank you so much. I'll keep an eye out.

[2019-09-28 11:42] code-farmz commented on #8
@honeykpc  this is done please update to latest version

[2019-09-28 11:42] #8 closed

[2019-09-28 16:43] ksabariraj opened #11 "Mac Safari issue."
Good Day,

Could you please help on the below issue.

In safari, text box automatically insert enter and the value went down as mention in the below screenshot.

FYI,
in `onInputChange` i'm get value as

"111
1
1"

<img width="369" alt="Screenshot 2019-09-28 at 10 09 13 PM" src="https://user-images.githubusercontent.com/3765085/65819643-9a878a80-e23c-11e9-9b0d-75377c56c847.png">

Just do backspace

[2019-09-30 04:10] code-farmz commented on #11
Hi thanks for pointing it out will check it out or meanwhile if you can try to fix it out and create a pull request that would be great

[2019-09-30 12:50] honeykpc commented on #8
Great! Thank you so much again.

[2019-10-02 12:18] #11 closed

[2019-10-06 15:03] kiranramsingh opened #13 "Enhancement"
Hi Thanks for this very useful package,

Can you help me out with two way data binding ? i have been using [(ngModel)] with this input but it fails is there any other alternative ?

[2019-10-07 04:10] code-farmz commented on #13
Hi @kiranramsingh

Adding `ngModel` functionality may not be possible but if you can specify the exact scenario I may help you better.

[2019-10-13 12:13] code-farmz commented on #13
Closing this as no response. Also added setValue method to component if you want to set component value manually

[2019-10-13 12:13] #13 closed

[2019-10-21 10:34] kiranramsingh commented on #13
Hey Sorry for the late comment, My use case is to automatically fill in these fields from .ts file (So need two way data binding) i.e the ts code reads the messages for otp and once found it automatically enters the otp in these fields and continue with the next process. I am able to read the otp from messages and bring it into ts file but for it to get entered into these otp fields i need to do s

[2019-10-21 10:36] code-farmz commented on #13
Hi you can use setValue method to update component value you can check full
example in docs

On Mon, 21 Oct 2019 at 4:04 PM, Kiran Sai Ram Singh <
notifications@github.com> wrote:

--

*Jitender Kundu*
9646994628 <+919646994628> | 9467294628 <+919646994628>
Cena666999@gmail.com <cena666999@gmail.com>

[2019-10-21 10:43] kiranramsingh commented on #13
Okay Thanks Jitender will check and get back to you

[2019-10-21 16:22] kiranramsingh commented on #13
Hey I tried it but getting an error :

**HTML:**
<ng-otp-input  #ngOtpInput ngDefaultControl name="otpNumber" (onInputChange)="onOtpChange($event)" [config]="{length:6,allowNumbersOnly:true}"></ng-otp-input>

**TS:**
@ViewChild('ngOtpInput',{static: false}) ngOtpInputRef:any;//Get reference using ViewChild and the specified hash

  ionViewDidEnter(){
    this.ngOtpInputRef.setValue('123456');//you

[2019-10-22 04:02] code-farmz commented on #13
@kiranramsingh  you will need to update to latest version `setValue` was added in `v1.6.0`

[2019-10-29 09:48] JomalJohny opened #15 "OTP input in ios devices and mobile devices"
### ng-otp-input issues in ios devices and android [devices]
While adding the same number in the otp-input columns, the first number is only visible and others are invisible, also while clicking the keyboard back button the input style is breaking.

`<ng-otp-input class="otp-verify" inputmode="numeric" (keypress)="numberOTPOnly($event)" (onInputChange)="onOtpChangeEvent($event)"   dir="ltr"></ng-o

[2019-11-05 13:23] ctrlshifti opened #16 "allowNumbersOnly not working for cordova android"
Even after setting allowNumbersOnly true,
input boxes will accept alphabets

[2019-11-13 07:10] code-farmz commented on #15
the first number is only visible is not an issue because every input will accept max one char

second one back button issue is fixed

[2019-11-13 07:10] #15 closed

[2019-11-13 07:10] code-farmz commented on #11
@ksabariraj  this is fixed now in latest version

[2019-11-18 18:11] AyazBelim opened #18 "Allownumbers only not working on Mobile device"
Allownumbers  not working on mobile apart from i have set allowNumbersOnly=true.

[2019-11-19 07:20] code-farmz commented on #18
please specify the device bcs i have tested it in couple of devices and seems working fine to me

[2019-11-20 08:28] AyazBelim commented on #18
![whatsapp-video-2019-11-20-at-148](https://user-images.githubusercontent.com/34475248/69221568-9bce9700-0b9d-11ea-8fec-ab75aa27cf81.gif)

I have attached Gif. please look this and this below is my config setting. i have tried in Andriod phones

config = {
    allowNumbersOnly: true,
    length: 4,
    isPasswordInput: false,
    disableAutoFocus: false,
    inputStyles: {
      'width': '60px',

[2019-11-24 07:29] csaptarshi26 opened #19 "setValue not working"
**In HTML file I did this :**
<ng-otp-input #otpInput (onInputChange)="onOtpChange($event)" [config]="{length:4,allowNumbersOnly:true}"></ng-otp-input>

**and on Component File I did This:**
@ViewChild('otpInput') otpInputField: any;

but when i try to clear the value of otp field by setValue method i am getting the following error
**this.otpInputField.setValue is not a function**

[2019-11-24 11:10] code-farmz commented on #19
Hi setValue is available only with version 1.6 or later so please try to update to latest version or please create a stackblitz of your problem

[2019-11-25 13:11] dangerhire8 commented on #16
Ran into the same problem, even if `isPasswordInput` prop set up to `false`, input field changes type to 'text' not on 'number' as expected.

[2019-11-25 15:05] code-farmz commented on #16
@dangerhire8  your changes are merged and published in the latest  version i.e 1.6.2 please verify if this fix your issue

[2019-11-25 15:06] code-farmz commented on #18
@AyazBelim  please verify if it's working now

[2019-11-26 05:03] AyazBelim commented on #18
Working perfectly..
Thanks

[2019-11-26 05:03] #18 closed

[2019-12-02 12:40] AyazBelim opened #21 "Update version to compatible for angular 8"
can you please update the version of this npm package ?

[2019-12-04 16:06] code-farmz commented on #21
It’s working fine with angular can you please elaborate the problem

[2019-12-04 16:07] code-farmz commented on #19
Closing this as no response and it’s working in stackblitz example

[2019-12-04 16:07] #19 closed

[2019-12-04 16:08] code-farmz commented on #16
@T1TAN1UM can you please verify this one with latest version

[2019-12-10 05:17] AyazBelim commented on #21
Yes working fine. but just trying to clear warning of version problem.

[2019-12-10 05:17] #21 closed

[2019-12-18 07:02] pandiyaavps opened #23 "Enhancement - Add input placeholder via config"

[2019-12-18 07:05] pandiyaavps commented on #23
@code-farmz @DenysDzhel If you add input placeholder as config really good feature.

[2019-12-18 07:07] Naveen-ux commented on #23
@pandiyaavps good i have created PR for the above feature :)

[2019-12-18 07:08] pandiyaavps commented on #23
@Naveen-ux nice

[2019-12-18 07:09] code-farmz commented on #23
@pandiyaavps @naveen-ux can you specify the real world use case of placeholder(with some image reference etc) here as there can be only one character per input

[2019-12-18 07:13] pandiyaavps commented on #23
@code-farmz suppose input box allow only number if we set placeholder as '#' ,For end user easily know number only to enter the input box.

[2019-12-18 07:19] code-farmz commented on #23
@pandiyaavps ok thank i will look into it ASAP till then you can use `otp-input` class which is applied to all inputs to set the placeholder

[2019-12-18 07:19] Naveen-ux commented on #23
@code-farmz for reference only
![otp](https://user-images.githubusercontent.com/59005146/71064265-aed08900-2194-11ea-8589-3c2fa8424137.gif)
for number only input field show have '#' as placeholder.

[2019-12-18 07:23] Naveen-ux opened #24 "Enhancement - Detect input box paste and fill the pasted values."

[2019-12-25 11:24] code-farmz commented on #24
#25

[2019-12-25 11:24] #24 closed

[2019-12-25 11:24] code-farmz commented on #23
done refer to #25

[2019-12-25 11:24] #23 closed

[2020-01-16 03:39] vipthuocno opened #26 "bug auto focus in IOS(13.3)"
bug auto focus in IOS(13.3)

[2020-01-17 05:56] code-farmz commented on #26
@vipthuocno can you please explain this issue.what's the actual problem

[2020-01-17 08:12] damianoferrari opened #27 "Issue on iOS when pasting OTP from Messages app"
I discovered an issue on iOS when pasting an OTP that has been automatically retrieved from the Messages app.

Steps to reproduce:
1. trigger/request OTP generation
2. on the screen where the OTP is to be entered, tap on any input field that isn't the first one and wait for the SMS
3. when the SMS is received, tap on the iOS notification "From Messages xxxx"
4. the OTP will be pasted starting from

[2020-01-20 09:45] evansbusobozi opened #28 "The last input field allows multiple values in ionic 4"

[2020-01-22 00:37] code-farmz commented on #26
Closing as no response

[2020-01-22 00:37] #26 closed

[2020-01-22 00:41] code-farmz commented on #27
Its working fine by copy paste Not sure weather we can control **From Message** paste via java script .

[2020-01-30 06:46] mbelnf1 opened #29 "Cannot modify the scss in ionic 4!!"
I am trying to display circles instead of boxes and I modified the scss and it is not working
page.html

[code]

page.scss

[code]

[2020-01-30 22:54] code-farmz commented on #29
Change your scss to

[code]
and move it to style.scss(global style sheet).Then change your componenet HTML to add input class to input instead of outer div

[code]

[https://stackblitz.com/edit/github-qyuhar](Demo)

Note:- Such types of questions should be asked over [stackoverflow](https://stackoverflow.com/)

[2020-01-30 22:55] #29 closed

[2020-02-13 12:31] SojinAntony commented on #28
Same issue occur in angular 8 when opening the website in mobile browser

[2020-02-21 13:09] Badisi commented on #21
I think what the OP was saying is that your library generates warnings when used with angular > 6.

You need to update your peerDependencies in [package.json](https://github.com/code-farmz/ng-otp-input/blob/master/projects/ng-otp-input/package.json#L11) (and specifying only @angular/core should be enough though)

[2020-02-27 05:20] sudeeshbhaskar opened #30 "setValue is not working even with version 1.7.0"
not able setValue to ng-otp-input, I am using angular version 7 to use viewchild i tried both static value true and false.

[2020-02-27 05:22] code-farmz commented on #30
@sudeeshbhaskar  can you please add [Stackblitz](https://stackblitz.com/edit/angular) link with your problem reproduction

[2020-02-27 15:57] iamade opened #31 "How to resize the input boxes"
Great component you have here but am having issues resizing it that is am trying to make them smaller and compact. please help I have checked google but nothing helpful yet

[2020-02-28 06:45] code-farmz commented on #31
You can use input styles as give in [this stackblitz](https://stackblitz.com/edit/github-hq8tbx) or add input class and use styles to resize. Also for your reference, it's better to post such type of quires to StackOverflow instead

[2020-02-28 06:45] #31 closed

[2020-02-28 06:48] code-farmz commented on #30
@sudeeshbhaskar  please check the working [Stackblitz](https://stackblitz.com/github/code-farmz/ng-otp-input) here

[2020-02-28 06:48] #30 closed

[2020-03-09 02:39] mikelim-cv opened #32 "textbox not auto focus on ios"
hi, having issue where it does not auto focus to the next textbox after input on my ios builds, however it works on android.

i believe its related to the closed issues previosly.
https://github.com/code-farmz/ng-otp-input/issues/26

![ezgif-1-539a02eb8978](https://user-images.githubusercontent.com/61955486/76178398-348f2e00-61f2-11ea-9e4a-0847effbbbc2.gif)

[2020-03-09 02:40] mikelim-cv commented on #32
currently i have to manually tap on each box to input a number on ios. it works like a charm on android though :) thx code-farm

[2020-03-29 11:13] elinfinitoindia commented on #30
Cannot read property 'setValue' of undefined

[2020-03-31 06:31] eldhose-cavli opened #33 "OTP copy and paste is not working in safari browser"

[2020-03-31 06:45] eldhose-cavli commented on #33
issue only with command + v combination.. its working fine while we choose paste option from right click menu.. how to solve this issue ?

[2020-04-01 15:17] VjRagss opened #34 "Build error with versions angular 9.1.0 and typescript 3.8.3"
![image](https://user-images.githubusercontent.com/43060259/78154475-ef10fa00-7459-11ea-98a1-98496861aef7.png)

[2020-04-01 19:35] code-farmz commented on #34
[This may help](https://stackoverflow.com/a/60930633/5621827)

[2020-04-04 01:02] VjRagss commented on #34
Removed node modules
then
npm clean cache --force
npm i
ng serve (or) npm run build

That worked .

npm install will make postinstall ngcc and that will make the compilation works. So that fresh build happens where the ngcc fails to build few projects on its own with npm package installation

[2020-04-04 01:02] #34 closed

[2020-05-13 11:11] ArendBron opened #36 "setValue ignores the disableAutoFocus setting"
the value for `disableAutoFocus` is only checked initially, during the `ngAfterViewInit`. When programatically setting the value using `setValue`, the last field will always get focus. As i have set `disableAutoFocus` to true, i would not expect this behaviour.

[2020-05-13 13:40] code-farmz commented on #36
@ArendBron can you please provide use case of the issue

[2020-05-13 13:57] ArendBron commented on #36
I'm using this component inside a form with multiple components. Each of the fields could be filled with data from a backend. This is now the only component that forces itself to be focussed, and because of that also potentially scrolling to the field.

The usecase might be a bit shady for a one-time **password** input, but it fits our needs.. expect for the auto focus thing.

[2020-05-14 13:07] ArendBron commented on #36
Version 1.7.1 resolves this issue, thanks @code-farmz

[2020-05-14 13:07] #36 closed

[2020-05-16 20:57] pjsotou opened #39 "How to use focusTo"
Hi, thx for this component!
I need to focusTo the first element if the code was incorrect
How do I achieve this?

I instantiate the ngOtpInputRef like this

  `@ViewChild('optinput') ngOtpInputRef:NgOtpInputComponent;`

And then when I check the code I reset the input and I try to focus to the first element.

[code]

But the focus stays in the last position

THX

[2020-05-16 21:08] pjsotou commented on #39
I will able to implement this!
Hope help someone
      let id = this.ngOtpInputRef.appendKey(`otp_${0}`);
      this.ngOtpInputRef.focusTo(id);

Maybe it's a good idea to encapsulate this method
Thx!

[2020-05-16 21:08] #39 closed

[2020-05-26 20:49] dotmarn opened #40 "Setting value for the input using setValue()"
Putting this `this.ngOtpInputRef.setValue(yourValue);` in any method throws some errors like reset or setValue is undefined.

**Solution:** place it in ngAfterViewInit() and it will automatically set the value e.g
`ngAfterViewInit() {
this.ngOtpInputRef.setValue(yourValue);
 }`

[2020-05-27 06:11] #40 closed

[2020-05-29 18:59] RishabhNagpal opened #41 "ng-otp-input Accessibility Issue"
I'm submitting a ... (check one with "x")

[x] bug report => see 'Providing a Reproducible Scenario'

Requesting Community Support

Current behaviour
I am facing an accessibility issue in using ng-otp-input library. When I run wave tool to check for accessibility errors, I get an error that a form control does not have a label for each input box.

Providing a Reproducible Scenario
Here is the link

[2020-05-29 20:51] enemlk opened #42 "How to allow only specific characters?"
Is there a way to allow only specific characters?

[2020-06-08 11:16] code-farmz commented on #42
@enemlk currently there is no such feature exist to allow only specific chars

[2020-06-08 11:16] #42 closed

[2020-06-08 11:18] code-farmz commented on #41
@RishabhNagpal  this is just an input box component and doesn't need to have labels with each input as per functionality

[2020-06-08 11:18] #41 closed

[2020-07-08 07:20] surendra-17 opened #43 "Error: Uncaught (in promise): Error: Template parse errors: Can't bind to 'config' since it isn't a known property of 'ng-otp-input'"
ionic project
  "dependencies": {
    "@angular/animations": "^8.2.14",
    "@angular/common": "~8.1.2",
    "@angular/compiler": "~8.1.2",
    "@angular/core": "~8.1.2",
    "@angular/forms": "~8.1.2",
    "@angular/platform-browser": "~8.1.2",
    "@angular/platform-browser-dynamic": "~8.1.2",
    "@angular/router": "~8.1.2",
    "@capacitor/core": "^1.4.0",
    "@capacitor/ios": "^1.4.0",
    "

[2020-07-08 07:29] iOSCuriosity commented on #43
try to add
`import { NgOtpInputModule } from  'ng-otp-input';`
in the same child module you want to use it.

I wanted to use it in my home page so I've added it in my home page module file and its working fine. Hope you got it!

[2020-07-08 08:58] surendra-17 commented on #43
can i import these on app.module.ts

[2020-07-08 09:01] surendra-17 commented on #43
thanks its working

[2020-07-08 09:49] surendra-17 opened #44 "How to reset otp fields"

[2020-07-09 08:26] #43 closed

[2020-07-09 08:27] code-farmz commented on #44
use the setValue method to set the value to the original value. Check out the documentation for more info on setValue method

[2020-07-09 08:27] #44 closed

[2020-08-05 07:58] frystalizer opened #45 "Can we have readonly status for this input?"
I am currently using this component. There is additional requirement that once the otp is verified, the otp input should be read only to prevent the user from editing it.

Currently there is no such properties to configure for this.

[2020-08-08 11:22] code-farmz commented on #45
you can get the form instance of the component example

Declare your component with has value

`<ng-otp-input #ngOtpInput ></ng-otp-input>`

Get  component instance using `ViewChild `

`
  @ViewChild('ngOtpInput', { read: false}) ngOtpInput: any;`

Then access the otpForm instance and call disable method

` this.ngOtpInput.otpForm.disable()`

[Live Demo](https://stackblitz.com/edit/github-fonawa?f

[2020-08-08 11:22] #45 closed

[2020-08-14 17:32] morant901 opened #46 "If i use allowNumbersOnly and isPasswordInput numeric keyboard not work"
Hello, I try to implement a input with the properties allowNumbersOnly and isPasswordInput but i want that the keyboard on mobile was numeric.

[2020-08-16 19:55] morant901 commented on #46
@code-farmz please help me

[2020-08-17 07:14] code-farmz commented on #46
since input type password is used in case off `isPasswordInput ` number keyboard might not be working. You can escape isPasswordInput and use ` -webkit-text-security: disc;` [Please read this MSDN using before using this](https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-security)

Set style class on the input using inputClass attribute like:-

and in sytle.css set

[2020-08-19 09:43] ObjectPlayer opened #47 "enter"

[2020-08-19 09:44] #47 closed

[2020-08-20 08:06] #46 closed

[2020-08-21 06:45] farazahmadvaival opened #48 "Issue with ionic ios build"
I used this plugin for ionic application with angular 9. It was working fine for android. but on ios device it is adding white space between keyboard and ng-otp-input. please provide any fixation for this.

[2020-09-02 08:04] alexmelville7 opened #49 "Bug: Able to input multiple characters per field on desktop browser"
![ng-otp-input error](https://user-images.githubusercontent.com/41615914/91954055-a956a700-ed01-11ea-9362-152611821e8d.gif)

I discovered a minor bug with the component while doing testing for a project.
Steps to reproduce:
1. Enter a regular OTP (e.g. 2134)
2. Backspace and clear OTP
3. Paste another OTP in fields (e.g. 1234)
4. Hit Ctrl+z (undo) repeatedly

This results in multiple numbers per i

[2020-09-08 09:21] dylanvdmerwe opened #51 "feat: autocomplete="one-time-code""
Firstly, great work on this component!

I was wondering if it is possible to implement the `autocomplete="one-time-code"` somehow that will read codes from SMS?

![image](https://user-images.githubusercontent.com/2852839/92458044-3d72b380-f1c5-11ea-9e05-8cabc8febf95.png)

[2020-09-12 11:12] code-farmz commented on #33
@eldhose-cavli  can you please confirm if this happens only in number only mode

[2020-09-15 11:53] iAmServer commented on #48
Did you fix this @farazahmadvaival

[2020-09-18 07:42] clixlogixtest opened #52 "It is not working on PWA, because on mobile device there is no back button. if I want to remove the last digit or need to replace it cursor move on previews text and removed that digit"

[2020-09-29 06:21] ajarudingunga commented on #51
+1 for this feature.

[2020-10-15 10:56] Xrex-FrankHsu opened #53 "onInputChange did trigger twice when copy and paste."
`config: {
  length: 5,
 disableAutoFocus: false
}`

If I copy "ABCDE" and paste to input, onInputChange did trigger twice.
How can I fix it?  thanks.

[2020-10-30 09:01] AbRetroDev opened #54 "After clicking on the input, the cursor shows, when you type an input, it doesn't update the value but moves to next input"
When you have entered your otp, and you realize you typed a character wrong, you click on the character you want to fix, you will see a cursor, but when you type a char it doesn't update, it only moves to the next input box.

[2020-11-09 06:19] code-farmz commented on #53
not able to reproduce it can you please add a small video for the issue

[2020-11-09 06:22] code-farmz commented on #54
To replace the char it should be in the selected state otherwise it will move to the next input since only one char allowed per input
![image](https://user-images.githubusercontent.com/19927847/98506596-df745200-2281-11eb-91c2-1e73bfc99121.png)

[2020-11-09 06:22] #54 closed

[2020-11-12 10:17] kobusLink commented on #27
This is still an issue

[2020-11-13 13:58] suneelpondric commented on #53
@Xrex-FrankHsu Hey I am facing the same issue, did you find a solution for it! If yes please share!

[2020-12-03 10:18] vorant94 opened #55 "Feature: refactor with ControlValueAccessor"
What do you think about refactoring the lib to use Angular [ControlValueAccessor](https://angular.io/api/forms/ControlValueAccessor) in order to work within template driven and reactive forms?

I can take this work on me and then open pull request, if you wish. The goal of this issue is to clarify whether this feature is needed at all. Because if not (maybe you already thought about it and decided

[2020-12-03 10:49] vorant94 opened #56 "Feature: add NgOtpInputComponent to public_api"
The same thing as with my previous [issue](https://github.com/code-farmz/ng-otp-input/issues/55): I want to ask whether the feature is needed and if so I can do it and open pull request

This time it is adding `NgOtpInputComponent` into `public_api.ts`. it will give the possibility to use types within `@ViewChild` decorator.

Something like `@ViewChild(NgOtpInputComponent) ngOtpInputRef: NgOtpInpu

[2020-12-16 11:30] sandeepparashar-kiwi opened #58 "Focus remains on last box after otp is reset"
I clear the input boxes in case the user enters an invalid OTP. However, the focus remains on the last box. How can I bring the focus back to the first input box?

[2020-12-16 19:50] vorant94 commented on #56
at the end I've already created pull request with this change [#60 ](https://github.com/code-farmz/ng-otp-input/pull/60)

[2020-12-16 19:50] #56 closed

[2021-01-06 12:12] nicks258 commented on #32
Did you find the solution?

[2021-01-06 14:21] nicks258 commented on #8
Its not working for ios 5.1.1.

[2021-01-11 01:28] binhnt13682104 commented on #48
Maybe you can try:
[code]

<img width="849" alt="Screen Shot 2021-01-11 at 08 26 28" src="https://user-images.githubusercontent.com/66429458/104140983-f4d33d00-53e6-11eb-890f-f39257f45ac7.png">

[2021-01-11 06:16] MusabBasheer opened #62 "onInputChange not called when remove last element value in (Ionic)"

[2021-01-13 02:59] harishchopra86 opened #63 "Control not showing in native script 7.1"
I tried adding this control in my project with NativeScript version 7.1 but it is not showing in UI.
I am using version 1.7.1 of the plugin.

Any advise would be appreciated.

[2021-01-13 03:07] #63 closed

[2021-01-20 13:50] thegirishagarwal opened #64 "Focus on first input is not working"

[2021-01-27 21:31] cyfer1313 opened #65 "Pressing 'enter' while in OTP not submitting form"
Angular 8.1.3
NG-opt-input: 1.7.1
Using Chrome (latest)

I have a form which has been working for a while. For accessibly and ease of use, we'd like to be able to press the 'enter' key when in the last entry of the box to submit the form. It doesn't work. When I tab out of OTP onto another field. It works.

OTP is enabling/disabling the submit button. So I know it's not a valid/dirty/etc issue. An

[2021-01-28 20:17] cyfer1313 commented on #65
To elaborate, I think the issue is actual that the keydown code on the individual fields is capturing the 'enter' key and not handling it. So the value never 'submits' the code. (working theory). Thoughts?

[2021-01-29 11:23] deverma245 commented on #8
Is it possible to focus the next empty input box when end user try to click on any other empty input box.

[2021-02-03 21:20] Linknpay commented on #27
Any fix ?

[2021-02-17 04:19] kvssandeep opened #66 "How to make the input field as Required, right now the form says as valid."

[2021-03-01 19:21] Jucapo commented on #51
+1    Any solution ?

[2021-03-06 14:21] ANKIT-MONDAL-NITJSR opened #67 "ERROR in Metadata version mismatch for module ../node_modules/ng-otp-input/ng-otp-input.d.ts, found version 4, expected 3, resolving symbol AppModule"
I am using ng-otp-input in my angular4 projet. but metadata version is not matching with my project. How to resolve ?

[2021-03-20 05:27] code-farmz commented on #67
please provide more details like error screenshot etc

[2021-03-22 05:12] ANKIT-MONDAL-NITJSR commented on #67
@code-farmz
Have already resolved the issue. The main problem was, I was using this library in my angular4 project. So, what I have done is :

Simply change the angular version from 4 to 5 and it is now working fine.

[2021-04-03 16:53] anupwritescode commented on #65
This library will only handle inputs and not the submit button. You will have to create the form and submit it by yourself. A workaround is to submit when an enter key is pressed and the length of the otp string equals to the desired one.

[2021-04-06 14:28] cyfer1313 commented on #65
I think you're missing what I'm saying. Inputs such as this control should never submit. By default, forms with a submit button will submit when you are in a form field (textbox) and hit the enter button. So in my case, i enter 6 numbers into your code, but when I hit enter when I'm done...nothing happens. I'd expect the master form to submit. But when I looked into your code, the code where you c

[2021-04-19 12:42] #67 closed

[2021-04-19 12:46] code-farmz commented on #64
please provide an example to reproduce this issue

[2021-04-21 07:08] kishan-cool opened #68 "throwing error "Cannot read property 'setValue' of undefined""
Hi,

I have implemented this in my site I have 2 files for login one for mobile and one for desktop but when I am trying to use disable, set value, enable on mobile site it is throwing "Cannot read property 'setValue' of undefined", and this same code with the same configuration it is working in the desktop file are different for mobile and desktop but code is same for OTP varification

[2021-06-07 14:50] code-farmz commented on #68
can you please provide you code example here

[2021-06-07 14:52] code-farmz commented on #66
can you please provide stackblitz example for this

[2021-06-07 15:04] code-farmz commented on #64
closing as didn't hear back on this

[2021-06-07 15:04] #64 closed

[2021-06-28 13:28] code-farmz commented on #68
closing as there is no example provided here

[2021-06-28 13:28] #68 closed

[2021-06-28 13:30] code-farmz commented on #66
closing as no example provided

[2021-06-28 13:30] #66 closed

[2021-06-28 13:45] code-farmz commented on #65
@cyfer1313  sorry for the delayed response I have tried to capture the enter event outside of this component and I was able to do so with no issues.Below is the stack blitz example for the same try pressing enter inside any box and you will get the alert

https://stackblitz.com/edit/github-kchaub?file=src/app/app.component.ts

[2021-06-30 10:32] code-farmz commented on #58
you can add class to the input and get the first element by class name and focus on first element working demo

https://stackblitz.com/edit/github-scezbq?file=src/app/app.component.ts

[2021-06-30 10:32] #58 closed

[2021-08-14 09:11] basant807 opened #69 "On allowing only numbers, the input type changes to "tel" and it is allowing space and -"
On allowing only numbers, the input type changes to "tel" and it is allowing space and -

[2021-08-19 10:06] webacers commented on #69
+1

[2021-08-19 14:17] Nitekurs opened #70 "Page jump in iphone on edit. iOS 12"

[2021-08-20 07:43] webacers opened #71 "Autocomplete not working"
We have used this plugin for zip code input and the autocomplete functionality does not work correctly. It fills all the input with first digit only. eg. 140307 fills in as 111111.
Please correct this behavior or update "autocomplete" to "none" instead of "off".

[2021-09-02 09:17] code-farmz commented on #69
@basant807  yes it changes to tel and was done intentionally to fix one of the bugs. But I don't see it allow to enter space can you provide [stackblitz](https://stackblitz.com/) link for the same.

[2021-09-02 09:39] code-farmz commented on #71
@webacers  there is nothing like none for autocomplete attribute it will be either on or off

![image](https://user-images.githubusercontent.com/19927847/131821232-c8ddb621-b4f2-4fb2-8596-c6d3dac5a75d.png)

[2021-09-02 09:43] code-farmz commented on #71
you will have to ask the user to set auto fill off

https://support.iclasspro.com/hc/en-us/articles/218569268-How-Do-I-Disable-or-Clear-AutoFill-AutoComplete-Information-

[2021-09-02 09:43] code-farmz commented on #65
closing this as no response

[2021-09-02 09:43] #65 closed

[2021-09-02 09:57] code-farmz commented on #70
this doesn't seems related to the OTP input there might be something wrong in your code please provide a working demo or more description on this

[2021-09-02 09:57] #70 closed

[2021-09-02 10:47] #53 closed

[2021-09-03 11:36] #49 closed

[2021-09-04 05:58] rishikesh-janrao opened #72 "Lag in key detection"
Hello,
There is bit lag in reading last digit in this feature.
Also let say I press 1 and without releasing key I press 2 , So it should detect keypress events only and not key release.
i.e. 12 should be output but it receives only 1 and not 2.

Majority peoples speed-type their OTPs so in that case this feature of yours is failing.
However great work @code-farmz !!

[2021-09-06 12:46] #69 closed

[2021-09-06 12:48] code-farmz commented on #55
implemented with 1.7.7 release

[2021-09-06 12:48] #55 closed

[2021-09-28 11:56] abrinCsaiju opened #73 "can we get (paste) event on ng-otp-input?"
hi,
is there an event for (paste) ng-on-input?

[2021-09-30 09:33] alphagamer7 commented on #27
+1

[2021-10-01 06:39] #27 closed

[2021-10-05 08:40] code-farmz commented on #73
right now there is no such event exists in the package. As per the current structure on paste, it will auto-fill the input.

[2021-10-05 08:40] #73 closed

[2021-10-05 08:54] code-farmz commented on #51
@dylanvdmerwe I have tried to implement this in the latest version with some more changes so it can fill in the code when user select **from message** can you please check once if that works

[2021-10-09 17:21] anuj9196 opened #76 "Change to uppercase character"
**Feature Request**

In my application, I want to visualize the input alphabetical OTP as an uppercase character.

As this feature is not inbuilt supported, I tried using the `setValue()` method on each change event.

[code]

But this creates an infinite loop of the input-output cycle.

Giving an option to set it as configuration would be more helpful

[code]

[2021-10-13 08:06] code-farmz commented on #76
implemented the letterCase functionality in 1.8.1 version

[2021-10-13 08:06] #76 closed

[2021-11-04 16:55] HarshaChinni opened #78 "(onInputChange) event is not invoking my custom method"
<img width="589" alt="Screen Shot 2021-11-04 at 10 54 06 AM" src="https://user-images.githubusercontent.com/29237975/140383774-55a671cb-0a34-4e16-b8ae-345a8b4d6533.png">

Even when the method doMFAChallenge() is present, it's say can not find the method declaration.

The version used for the ng-otp-input package is "^1.8.1"

Can someone take a look and see what is happening here?

[2021-11-15 07:11] frystalizer opened #79 "CSP configuration that blocked inline event"
When we set the configuration to digit only, the `number-only` directive will automatically append this inline script
`'onkeypress', 'return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 0')`
This when met with the CSP that doesn't allow `unsafe-inline` will throw error in console log as below.

`Refused to execute inline event handler because it violates the following Conten

[2021-11-15 07:25] code-farmz commented on #78
@HarshaChinni  please provide working [stackblitz](https://stackblitz.com/github/code-farmz/ng-otp-input) for the issue

[2021-11-15 08:08] code-farmz commented on #79
@frystalizer  can you create a [stackblitz example](https://stackblitz.com/github/code-farmz/ng-otp-input) for this issue and share the link here

[2021-11-15 08:24] frystalizer commented on #79
Hi @code-farmz, please find the link below:

https://github-mxxdog.stackblitz.io

![image](https://user-images.githubusercontent.com/15686016/141747196-1cf74006-1aeb-4293-bc95-efb80b74b630.png)

[2021-11-15 09:01] code-farmz commented on #79
Thanks, @frystalizer  I will try to fix the issue in the coming release

[2021-11-15 11:59] pankajparkar commented on #65
@code-farmz thanks for the hint.

I used `(keyup.enter)="submit()"` on my form attribute. Cheers 🥳

[2021-11-26 13:08] vipinkumarparas opened #80 "copy and paste issue"
If I copy the number and paste on otp field. then it will trigger twice.

[2021-11-26 13:12] #80 closed

[2022-01-05 04:28] tabreztech commented on #32
@mikelim-cv i am facing the same issue. Did you find any other solution?

[2022-01-26 13:17] FJMentz opened #82 "SetValue breaks if not containerItem is null"
Please see [line 172 in ng-otp-input.component.ts](https://github.com/code-farmz/ng-otp-input/blob/639927ee7e3addc38443463644d4b618fec9f146/projects/ng-otp-input/src/lib/components/ng-otp-input/ng-otp-input.component.ts#L172)

We're not checking for null before using it

[2022-01-28 04:01] code-farmz commented on #82
Hi, @FJMentz Container item will always be there you can check the HTML view for the same.So no need to put a null check in the component

![image](https://user-images.githubusercontent.com/19927847/151485084-383a4038-8f87-43eb-a907-f29dd2967a3f.png)

[2022-01-28 04:01] #82 closed

[2022-01-28 05:26] FJMentz commented on #82
Hey @code-farmz , thanks for the quick feedback! It might be something weird with the angular platform, because if I have disableAutoFocus set to false, I get this behaviour:
![image](https://user-images.githubusercontent.com/17801831/151492076-0a27ec47-8fcb-4fa5-ba9f-8f9ee78f4d7e.png)

[2022-01-28 05:29] FJMentz commented on #78
By looking at the screenshot, it looks like you're closing the tag after `[config]="config">`, (onInputChange) should still be contained within the opening tag.

[2022-01-28 05:34] FJMentz opened #83 "Typing "too fast" doesn't work"
Typing in an OTP at (for me) a normal rate, doesn't jump to the next block fast enough, thus losing some of the input:

https://user-images.githubusercontent.com/17801831/151492895-aad9cff1-63f6-4538-927e-1e91eb608bb8.mp4

[2022-02-15 05:06] code-farmz commented on #78
closing this as this seems to be a code issue as mentioned above.Feel free to reach back with working stackblitz example

[2022-02-15 05:06] #78 closed

[2022-02-16 03:44] KevinZhang19870314 opened #84 "Could you help to publish an Ivy distribution"
I am now upgrading my angular project to version 13, when do ng build, it has an warning:

[code]

[2022-02-27 18:23] aditbharadwaj commented on #84
Yes please we need a version update for angular 13

[2022-03-04 15:38] ArendBron opened #85 "Form does not get submitted when using numeric input"
If you configure the OTP input to only allow numbers, pressing enter will no longer submit the surrounding form.

Created a [small StackBlitz example](https://stackblitz.com/edit/github-euarbk?devtoolsheight=33&file=src/app/app.component.html) which has 2 OTP inputs, one alphanumeric and one numeric. Pressing enter in the first submits the form (shown in the console), pressing enter in the second

[2022-03-08 06:50] mohdwaseem opened #86 "[Enhancement]Css class name "wrapper" should be renamed."
I encountered an issue with the ng input style because of class name conflict with my application theme. For me I rename my theme class "wrapper" to another name then it works.
so better to rename ng-otp-input wrapper class with some prefix like nginput_wrapper.

[2022-03-18 09:04] code-farmz commented on #86
fixed in 1.8.3

[2022-03-18 09:04] #86 closed

[2022-03-18 09:13] code-farmz commented on #85
fixed in [1.8.3](https://stackblitz.com/edit/github-euarbk-5so8ac?devtoolsheight=33&file=package.json)

[2022-03-18 09:13] #85 closed

[2022-03-18 09:14] code-farmz commented on #84
fixed in v1.8.3

[2022-03-18 09:14] #84 closed

[2022-03-18 09:25] code-farmz commented on #79
the directive is removed in 1.8.3 the issue should be fixed now

[2022-03-18 09:25] #79 closed

[2022-03-18 09:26] code-farmz commented on #83
@FJMentz  can you check it again this should be fixed in 1.8.3

[2022-03-23 15:13] dhivyapriya1998 opened #88 "clearing values focus on last box"
Im trying to clear values of input after some time interval.

by using  this.ngOtpEmailInput.setValue(0);
inputs getting cleared but the focus is on the last input instead of first.

 config = {
    allowNumbersOnly: true,
    length: 4,
    isPasswordInput: false,
    disableAutoFocus: true,
    placeholder: '',
    inputStyles: {
      'width': '50px',
      'height': '30px',
      fontSize: '16

[2022-03-25 07:09] keval101 opened #89 "Clicking backspace moves the cursor back to the prior box, but does not delete the number in that box."
**Actual Result:**

Tapping backspace moves the cursor to the prior box and selects the number in it, but does not clear it. Clicking backspace again deletes this number and moves to the prior box, selecting that number. Typing a new number will replace the number in the current box, but this is not at all intuitive and creates a very confusing user experience.

**Expected Result:**
Tapping the ba

[2022-03-25 07:25] keval101 commented on #83
@code-farmz I have checked in your current [DEMO ](https://code-farmz.github.io/ng-otp-input/) link but this issue is not solved yet. I tried it many times.

[2022-04-04 08:55] nickLiechti opened #90 "Null Injection Error Angular 13"
I Get the Error :
  ERROR NullInjectorError: R3InjectorError(AppModule)[KeysPipe -> KeysPipe -> KeysPipe]:
  NullInjectorError: No provider for KeysPipe!

When importing ng-otp-input

In Angular 13

[2022-04-06 04:21] code-farmz commented on #90
@nickLiechti  can you please provide stackblitz example for the problem

[2022-04-08 09:43] durga0702 opened #91 "setValue issue"
the value is not set for older versions..
my ng-otp-input version is 1.7.1

[2022-04-11 04:52] code-farmz commented on #91
please provide the stackblitz example for the same

[2022-06-13 23:05] ClaytonBrawley commented on #83
This is the one flaw I have found with this library but unfortunately it makes it borderline unusable. Please give an update on plans to allow faster input when fast-keying short numeric codes.

[2022-07-29 15:31] surajd-sodelsolutions opened #92 "Issue in android devices for allowNumbersOnly config"
I'm able to input alphabets even when allowNumbersOnly is set to true in android devices.

[2022-07-30 12:02] heyashwani opened #93 "Not working in my project"
My project is in angular 12. when i try to install the package using "npm install --save ng-otp-input" then error occured.

npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! code ERESOLVE
npm ERR! ERESOLVE could not resolve
npm ERR!
npm ERR! While resolving: @angular/http@7.2.15
npm ERR! Found: @angular/core@7.1.4
npm ERR! node_modules/@angular/

[2022-08-02 10:05] premkumar4855 opened #94 "While installing ng-otp-input getting this error!"
unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: neftx-hms@11.0.0
npm ERR! Found: zone.js@0.11.7
npm ERR! node_modules/zone.js
npm ERR!   zone.js@"~0.11.3" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer zone.js@"~0.10.3" from @angular/core@11.0.3
npm ERR! node_modules/@angular/core
npm ERR!   @angular/core@"11.0.3" from the root project
npm

[2022-08-08 11:54] code-farmz commented on #94
which angular version you are using

[2022-08-08 11:56] code-farmz commented on #91
closing as no response

[2022-08-08 11:56] #91 closed

[2022-08-09 04:54] premkumar4855 commented on #94
we are using "@angular/core": "11.0.3"

[2022-08-16 08:07] surajd-sodelsolutions opened #95 "Page jump in latest version of chrome. (Android devices)"
I'm experiencing page jump in latest version of chrome. This was working perfectly fine in previous version (~96.)
Please refer the screens below.

https://user-images.githubusercontent.com/105289961/184830019-730c89d0-595b-4337-af50-49167ed89c06.mp4
![Chrome version](https://user-images.githubusercontent.com/105289961/184830031-9929dbf1-13e7-4049-8464-95c1979d2768.jpeg)

[2022-09-02 09:46] SalmanQureshi97 opened #96 "Delay in hiding input on mobile browsers"
![MicrosoftTeams-image (7)](https://user-images.githubusercontent.com/45896078/188112850-d53e2163-0df0-4288-b30d-f920cd05c109.png)

There is a significant delay in input being hidden when using app through a mobile browser. Hiding is instant on web browsers. On Mobile I have tested using chrome and safari and both have extremely delayed hiding on input. PFA example.

[2022-09-07 07:49] SalmanQureshi97 commented on #96
Solved by passing any class into inputClass and then setting the following css for that class :
`
@font-face{
  font-family: text-security-disc;
  src: url("https://raw.githubusercontent.com/noppa/text-security/master/dist/text-security-disc.woff");
}
.otp-input {
  font-family: text-security-disc;
  -webkit-text-security: disc;
}
`

this hides each input without delay on mobile browsers. The dela

[2022-09-07 07:50] #96 closed

[2022-09-17 08:05] shivaramagiri opened #97 "when we click tab key cursor jumping to out of one input box after filled all input otp boxes"
https://user-images.githubusercontent.com/34639845/190846881-9296539a-86d1-4279-82f0-c72669b517c5.mp4

**Issue**: when we filled the all otp boxes...and place the cursor point to **first** input box and try to use **"Tab"** key..you will get the issue.. cursor **jumps** to **3rd** Input box

**expected**: while using **Tab** key it should move only to next otp input box.

[2022-09-17 08:06] shivaramagiri commented on #97
Please Let me Know when it is working fine..

[2022-09-21 06:44] bllue78 commented on #51
For some reason we are stuck at Angular 8 and can only use max version 1.8.1. Just want to confirm has autocomplete="one-time-code" feature been included in 1.8.1?

[2022-10-27 17:34] AnanthKongu opened #98 "letterCase config issue"
**letterCase** config has schema issue in **/lib/models/config**

[2022-10-27 19:29] #98 closed

[2022-11-13 14:23] khaled-elrifaay opened #99 "allowNumbersOnly:true read from system messages disappear"
if i put allowNumbersOnly:true in options
read from system messages disappear

<img width="414" alt="Screen Shot 2022-11-13 at 4 23 34 PM" src="https://user-images.githubusercontent.com/22242270/201526772-b11210a8-1e08-46c9-a0f4-2766370c5cdf.png">

[2022-11-29 11:42] SanjidHaque commented on #94
use --force command @premkumar4855